
:root {
    --gradient: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(29,79,253,1) 5%, rgba(252,176,69,1) 100%);
    --thin-border: 1px solid #d9d9d9;
    --btn-hover: #d1eaff;
    --btn-bk-color: #f0f0f0;
}